html, body
{
    height: 100%;
    background-color: #fef9e4;
    line-height:1;
}



body{
  font-size: 12px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

table {
  padding:10px;
}

div.container2{
  width:100%;
  height:inherit;
  border:0px solid;
  overflow:hidden;
}

.container2 .sidebar {
  width:20%;
  height:inherit;
  border:0px solid #000;
  float:left;
  background-color:#28353e;
  padding:20px;
  color:#FFF;
}

.container2 .tablecontainer {
  width:78%;
  height:inherit;
  float:right;
  margin-left:10px;
  margin-top:15px;
  margin-right:15px;
}


.tabcontainer{
  position: absolute;
  top: -10px;
  width: 75%;
  margin-left: 120%;

}




/*sidebar form styles */
#sidebar_heading{
  color:#FFF;
}

form{
  font-size: inherit;
  font-family: inherit;
}


.form-control {
  background-color: inherit;
  border: 1px solid #fdbf00;
  border-radius: 14px;
  margin-bottom: 2px;
  color:  #fdbf00;
}

#submit {
  margin-top:5%;
  background-color:#a88818;
  color:#28353e;
  border-color: 1px solid #a88818;
  border-radius: 14px;
}

label {
  margin-left: 20px;
  font-weight: bold;
  margin-top: 8px;
}

.form-control:focus {
  background:none;
  color:  #fdbf00;
}

.select1 option{
  background:#28353e;
  color:  #fdbf00;
}
/*sidebar form styles */




/* table styling */
.table {
  padding:15px;
  border-color: none;

}

table thead {
 background-color: #28353e;
 color: #fdbf00;
 font-weight: bold;
  border: 0px solid;
  padding: 1px;
  border-bottom: 0px solid  #28353e;
}

.table thead th  {
  background-color: #28353e;
  border-bottom: none;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}

.custom-table{
  margin-left:15px;
  margin-top:-20px;
}
table {
        border-collapse: separate;
        border-spacing: 0;
        min-width: 100%;
        
    }
  table tr th,
  table tr td {
        border-bottom: 0px thin solid #28353e;;
        padding: 5px;
    }
  table tr th:first-child, table tr th:last-child{
      border-top:solid 0px thin   #28353e;;
  }
  table tr th:first-child,
  table tr td:first-child {
        border-left: 0px solid  #28353e;;
        
    }
  table tr th:first-child,
  table tr td:first-child {
        border-left: 0px solid #28353e;;
    }
    table tr th {
        background:  #28353e;;
        text-align: center;
    }
    
    table.Info tr th,
    table.Info tr:first-child td
    {
        border-top: 0px solid  #28353e;;
    }
    
    /* top-left border-radius */
    table tr:first-child th:first-child,
    table.Info tr:first-child td:first-child {
        border-top-left-radius: 8px;
    }
    
    /* top-right border-radius */
    table tr:first-child th:last-child,
    table.Info tr:first-child td:last-child {
        border-top-right-radius: 8px;
    }
    
    #table_heading {
      color:#28353e;
      margin-left:30px;
    }
    





